* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: #232F3E;
}

.container {
    max-width: 300px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
}

#ul {
    max-width: 250px;
    width: 100%;
    box-shadow: 0 0 10px black;
    background: #fff7ff;
    border-radius: 15px;
    list-style: none;
}

#ul>li {
    max-width: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 20px auto;
    color: white;
    font-size: 20px;
    box-shadow: 0 0 5px black;
    background: black;
    border-radius: 8px;
    padding: 10px 20px;
    cursor: pointer;

}